@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --G0: #f8f8f8;
    --G50: #fafafa;
    --G100: #f4f4f5;
    --G150: #ececee;
    --G200: #e4e4e7;
    --G250: #d9d9df;
    --G300: #c8c8cf;
    --G400: #a2a2ac;
    --G500: #7c7c87;
    --G600: #585962;
    --G700: #3f3f46;
    --G750: #303136;
    --G800: #26272b;
    --G850: #202024;
    --G900: #18181b;
    --G950: #131316;
    --Blue: #536dc6;
    --Error: #cc3434;
    --scrim: #f8f8f880;
    --scrim-0: rgba(19, 22, 22, 0);
    --scrim-4: rgba(19, 22, 22, 0.04);
    --scrim-8: rgba(19, 22, 22, 0.08);
    --scrim-12: rgba(19, 22, 22, 0.12);
    --spacing-0: 0px;
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-s: 12px;
    --spacing-m: 16px;
    --spacing-l: 20px;
    --spacing-xl: 24px;
    --placeholder: var(--G500);
    --background: var(--G100);
    --hero-transparent: hsla(0, 0%, 100%, 0.73);
    --foreground: var(--G800);
    --card: #fff;
    --card-foreground: var(--G850);
    --card-alt: #fff;
    --popover: var(--G200);
    --popover-foreground: var(--G800);
    --primary: var(--G850);
    --primary-foreground: var(--G50);
    --secondary: var(--G250);
    --secondary-foreground: #0f172a;
    --muted: var(--G400);
    --muted-foreground: var(--G600);
    --accent: var(--G300);
    --accent-foreground: var(--G800);
    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;
    --error: var(--Error);
    --error-foreground: #f8fafc;
    --blue: var(--Blue);
    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #2563eb;
    --border-outline: var(--G250);
    --border-divider: var(--G200);
    --surface-base: var(--G50);
    --surface-elevation-1: var(--G150);
    --surface-elevation-2: var(--G200);
    --surface-elevation-3: var(--G250);
    --brand-bg: var(--G150);
    --icon-inverted: var(--G200);
    --icon-secondary: var(--G600);
    --icon-secondary-inverted: var(--G400);
    --icon-primary: var(--G800);
    --transparency-4: #1313160f;
    --transparency-8: #1313161e;
    --transparency-16: #1313163c;
    --plus-gradient: linear-gradient(
      94.45deg,
      #81f1fe 1.11%,
      #f3ff9f 16.21%,
      #ffa2ba 34.92%,
      #d6d6d6 60.53%
    );
    --plus-gold: #eeb82c;
    --plus-blue: #138eed;
    --focus: var(--secondary-foreground);
    --feed-item-width: 140px;
    --radius: 0.5rem;
  }

  .dark {
    --background: var(--G900);
    --hero-transparent: rgba(0, 0, 0, 0.73);
    --foreground: var(--G50);
    --card: #181818;
    --card-foreground: var(--G50);
    --card-alt: #fff;
    --card-alt-foreground: #363636;
    --popover: var(--G800);
    --popover-foreground: #f8fafc;
    --primary: var(--G50);
    --primary-foreground: var(--G950);
    --secondary: var(--G800);
    --secondary-foreground: #cacfd3;
    --muted: var(--G800);
    --muted-foreground: var(--G400);
    --accent: var(--G700);
    --accent-foreground: #f8fafc;
    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;
    --error: var(--Error);
    --error-foreground: #f8fafc;
    --blue: var(--Blue);
    --border: #1e293b;
    --input: var(--G700);
    --ring: #1d4ed8;
    --border-outline: var(--G750);
    --border-divider: var(--G800);
    --scrim: #0000003c;
    --scrim-0: hsla(0, 0%, 97%, 0);
    --scrim-4: hsla(0, 0%, 97%, 0.04);
    --scrim-8: hsla(0, 0%, 97%, 0.08);
    --scrim-12: hsla(0, 0%, 97%, 0.12);
    --surface-base: var(--G950);
    --surface-elevation-1: var(--G850);
    --surface-elevation-2: var(--G800);
    --surface-elevation-3: var(--G750);
    --brand-bg: var(--G850);
    --icon-inverted: var(--G800);
    --icon-secondary: var(--G400);
    --icon-secondary-inverted: var(--G600);
    --icon-primary: var(--G200);
    --transparency-4: #f8f8f80f;
    --transparency-8: #f8f8f81e;
    --transparency-16: #f8f8f83c;
    --focus: var(--secondary-foreground);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.character-gradient-v {
  background: linear-gradient(310deg, var(--background) 0, #fbdd00 100%);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--accent);
}

.self-swiper .swiper-button-prev {
  top: 0;
  width: 64px;
  height: -webkit-fill-available;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;

  left: 0;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M15%204L7%2012L15%2020%22%20stroke%3D%22%23a2a2ac%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E),
    linear-gradient(to right, var(--background) 0, var(--scrim-0) 100%);
}

.self-swiper .swiper-button-prev:hover {
  opacity: 1;
}

.self-swiper .swiper-button-prev::after {
  content: none;
}

.self-swiper .swiper-button-next {
  top: 0;
  width: 64px;
  height: -webkit-fill-available;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;

  right: 0;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M9%204L17%2012L9%2020%22%20stroke%3D%22%23a2a2ac%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E),
    linear-gradient(to left, var(--background) 0, var(--scrim-0) 100%);
}

.self-swiper .swiper-button-next:hover {
  opacity: 1;
}

.self-swiper .swiper-button-next::after {
  content: none;
}

.self-voice-recorder canvas {
  max-width: 100%;
}

.hero-card-effect:hover {
  transform: perspective(3000px) rotateX(8deg) rotateY(5deg);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.typing-effect {
  display: inline-block;  /* Add this */
  width: 0;              /* Change from 100% to 0 */
  animation: typing 1s steps(22) forwards;  /* Add forwards */
  white-space: nowrap;
  overflow: hidden;
}

@media (max-width: 768px) {
  .typing-effect {
    white-space: inherit;
    animation: none;
    width: 100%;  /* Add this */
  }
}

.chat-right-panel {
  animation-name: slideInFromRight !important;
}

/* Add this section for PersonaTiles Swiper */
#PersonaTiles .swiper-button-prev {
  top: 0;
  width: 64px;
  height: -webkit-fill-available;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
  left: 0;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M15%204L7%2012L15%2020%22%20stroke%3D%22%23a2a2ac%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E),
    linear-gradient(to right, var(--background) 0, var(--scrim-0) 100%);
}

#PersonaTiles .swiper-button-prev:hover {
  opacity: 1;
}

#PersonaTiles .swiper-button-prev::after {
  content: none;
}

#PersonaTiles .swiper-button-next {
  top: 0;
  width: 64px;
  height: -webkit-fill-available;
  position: absolute;
  background-position: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
  right: 0;
  background-image: url(data:image/svg+xml;charset=UTF-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2224%22%20height%3D%2224%22%20viewBox%3D%220%200%2024%2024%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M9%204L17%2012L9%2020%22%20stroke%3D%22%23a2a2ac%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E),
    linear-gradient(to left, var(--background) 0, var(--scrim-0) 100%);
}

#PersonaTiles .swiper-button-next:hover {
  opacity: 1;
}

#PersonaTiles .swiper-button-next::after {
  content: none;
}

#PersonaTiles .swiper-slide {
  height: auto;
  padding: 10px;
}

#PersonaTiles .swiper-button-disabled {
  opacity: 0 !important;
  cursor: not-allowed;
}